<nav class="bg-gray-900 p-4 shadow-lg">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <a routerLink="/" class="text-white font-extrabold text-2xl tracking-wide">Prueba Técnica</a>
    </div>
    <ul class="flex space-x-6">
      <li *ngFor="let route of routes">
        <div *ngIf="(isLogged() && (route.title != 'Inicio de sesión' && route.title != 'Registro')) || (!isLogged())">
          <a [routerLink]="route.path" routerLinkActive="active"
             class="text-gray-300 hover:text-white px-4 py-2 rounded-lg font-medium transition-all"
             [title]="route.title">
            {{ route.title }}
          </a>
        </div>
      </li>
      <li class="text-white font-semibold text-lg" *ngIf="isLogged()">Bienvenido/a, {{name()}}</li>
    </ul>
  </div>
</nav>
<router-outlet />
