<div class="flex justify-center items-center h-screen bg-gray-200">
  <div class="bg-white p-8 rounded-lg shadow-xl w-96">
    <h2 class="text-3xl font-semibold mb-6 text-center text-gray-800">Inicio de Sesión</h2>

    <div class="mb-5">
      <label for="username" class="block text-gray-700 font-medium mb-2">Usuario</label>
      <input type="text" id="username" [(ngModel)]="username"
        class="w-full p-3 border rounded-lg shadow-sm focus:ring focus:ring-blue-300"
        placeholder="Ingresa tu usuario">
    </div>

    <div class="mb-6">
      <label for="password" class="block text-gray-700 font-medium mb-2">Contraseña</label>
      <input type="password" id="password" [(ngModel)]="password"
        class="w-full p-3 border rounded-lg shadow-sm focus:ring focus:ring-blue-300"
        placeholder="Ingresa tu contraseña">
    </div>

    <div class="flex justify-center">
      <button (click)="login()"
        class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md transition-all">
        Iniciar Sesión
      </button>
    </div>

    <div *ngIf="isLogged()" class="mt-6 text-center text-green-600 font-medium">
      Sesión iniciada correctamente
    </div>
  </div>
</div>
